[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0.0"
gunicorn = "~=20.0.4"
requests = ">=2.20.0"

[dev-packages]
python-dotenv = "~=0.14.0"

[requires]
python_version = "3.6.11"
